{% extends 'basic.html' %}

{% block content %}
<style type="text/css">
    h4{
        font-size:18px;
    }
</style>

<div class="container">
    <h3>All Book Categories</h3><hr>

    {% for category in categories %}
    <h4><a href="/view_category/{{category.title}}">{{category.title}}</a></h4><hr>
    {% endfor %}
    
</div>
{% endblock %}