{% extends 'basic.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Student Login Form</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <p><label for="id_username">Username:</label> <input type="text" name="username" required id="id_username"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password"></p>
                <button class="btn btn-primary">Login as Student</button>
                
            </form>
            <p> or don't have account? <a href="/register">Register here</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Invalid Username or Password.")
    document.location = "/login"
    {% endif %}
</script>
{% endblock %}