{% extends 'basic.html' %}


{% block content %}
<style type="text/css">
    .notif-card{

    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Notifications</h3>
            <hr>
            {% if notifications.exists %}
                {% for notification in notifications %}
                <div class="notif-card">{{notification.message}}</div>
                {% endfor %}
            {% else %}
                <div class="msg">No notifications for you.</div>
            {%  endif %}
        </div>
    </div>
</div>
{% endblock %}