{% extends 'basic.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Detail Information</h3><hr>
            <p><span class="font-weight-bold">Name: </span> {{user.student.full_name}}</p>
            <p><span class="font-weight-bold">Username: </span> {{user}}</p>
            <p><span class="font-weight-bold">Email: </span> {{user.email}}</p>
            <p><span class="font-weight-bold">Joined on: </span> {{user.student.joined_on}}</p>
        </div>
    </div>
</div>
{% endblock %}