{% extends 'basic.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Student Registration Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                <p><label for="username">Username:</label> <input type="text" name="username" maxlength="200" required id="username"></p>
                <p><label for="id_full_name">Full name:</label> <input type="text" name="full_name" maxlength="200" required id="id_full_name"></p>
                <p><label for="id_email">Email:</label> <input type="email" name="email" required id="id_email"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password"></p>
<p><label for="id_address">Course:</label> <input type="text" name="course" maxlength="200" id="id_course"></p>
<p><label for="id_idnumber">ID No.:</label> <input type="text" name="idnumber" maxlength="3" id="id_idnumber"></p>
<p><label for="id_phone">Phone:</label> <input type="text" name="phone" maxlength="200" id="id_phone"></p>
                <button class="btn btn-primary">Register as a Customer</button>
            </form>
            <p> Already have an account? <a href="/login/">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Registration Successfull.")
    document.location = "/login"
    {% endif %}
</script>
{% endblock %}