{% extends 'basic.html' %}


{% block content %}

    <p style="margin-left:20px;">
        <h4>{{ msg }}</h4>
        <p></p>
        <a href="/view_my_books/{{user.student.id_nnumber}}/" class="btn btn-primary">Go back</a>
    </p>

{% endblock %}