{% extends 'basic.html' %}

{% block title %}Search {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row card" style="margin:20px; padding:10px;">
                <div class="col-md-5">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                    <h4><a href="">{{result.name}}</a></h4>
                    <p>Category: {{result.category}}</p>
                    <p>ISBN: {{result.isbn}}</p>
                    {% if request.user.student %}
                    <a href="/request_book/{{result.isbn}}/" class="btn btn-info">Book Now</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}