{% extends 'basic.html' %}

{% block content %}
<div class="container">
    <h3>Book Name: <b>{{bookdetails.name}}</b></h3><hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{bookdetails.image.url}}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h4>{{bookdetails.name}}</h4>
            <p></p>
            <h5>Category: {{bookdetails.category}}</h5>
            <p></p>
            <h5>ISBN: {{bookdetails.isbn}}</h5>
            <p></p>
            {% if request.user.student %}
            <a href="/request_book/{{bookdetails.isbn}}/" class="btn btn-info">Book Now</a>
            {% endif %}
            <hr>
        </div>
    </div>

</div>
{% endblock %}