{% extends 'basic.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>My Issued Books</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Count</th>
                        <th>Book Title</th>
                        <th>Book ISBN</th>
                        <th>Ordered on</th>
                        <th>Return Date</th>
                        <th>Remaining Days</th>
                        <th>Fine</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in bookdetails %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>
                        <td>{{i.7}}</td>
                        <td>Shs. {{i.6}}</td>
                        <td><a href="/return_book/{{i.3}}" class="btn btn-primary">Return</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}