{% extends 'basic.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<div class="container">

    <h1 class="text-left">{{title}} Books</h1>
    <hr>
    <div class="row mt-3">
        {% for book in category_books %}
        <div class="col-md-3 card">
                <div class="m-4">
                    <img src="{{book.image.url}}" alt="" class="img-fluid" style="height: 200px; object-fit: contain;">
                    <a class="book-title"  href="/view_book/{{book.isbn}}/">{{book.name}}</a>
                    <span class="book-author">{{book.author}}</span>
                    {% if request.user.student %}
                    <a href="/request_book/{{book.isbn}}/" class="btn btn-primary">Book Now</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}